{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to Crapvine Online" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>Crapvine Online</b> is an online character management website
        particularly designed to support CCP/White Wolf's Mind's Eye Theatre
        LARPing products.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "Features" %}</h2>

    <p>
        <ul>
        {% blocktrans %}
            <li>Import and Export sheets using <a href="http://grapevinelarp.com/">Grapevine's</a> XML GEX format</li>
            <li>Edit sheets live on the site</li>
            <li>Share your sheets with other user's and your chronicle's STs</li>
        {% endblocktrans %}
        </ul>
    </p>
    
    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
