    <td><a href="{% url sheet_edit_experience_entry sheet.slug entry.id %}" rel="facebox"><img src="{{ STATIC_URL }}pinax/img/silk/icons/brick_edit.png" /></a></td>
    <td><a href="{% url sheet_delete_experience_entry sheet.slug entry.id %}" rel="facebox"><img src="{{ STATIC_URL }}pinax/img/silk/icons/brick_delete.png" /></a></td>
    <td>{{entry.change}}</td>
    <td>{{entry.get_change_type_display}}</td>
    <td>{{entry.date}}</td>
    <td>{{entry.reason}}</td>
    <td>{{entry.earned}}</td>
    <td>{{entry.unspent}}</td>
