{% extends "site_base.html" %}
{% comment %}
This template is copied from the base templates to provide the friends
photos link which is specific to social_project.

NOTE: we don't extend that since it would extend itself and Django will
crash.
{% endcomment %}

{% load i18n %}
{% load group_tags %}
{% load characters_extras %}

{% block body_class %}characters{% endblock %}

{% block subnav %}
{% if sheet %}
<div class="clearfix">
{% endif %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% groupurl sheet_upload group %}">{% trans "Upload Sheet" %}</a></li>
            <li><a href="{% groupurl sheets_list group %}">{% trans "List Sheets" %}</a></li>
            <li><a href="{% groupurl sheet_new group %}">{% trans "New Sheet" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% if sheet %}
&nbsp;</div>
<style>
#subsubnav {
    background: lightgray;
}

#subsubnav h3 {
    float: left;
    font-size: inherit;
    margin-left: 181px;
    padding-left: 10px;
}
</style>
<div id="subsubnav" class="clearfix">
{% sheet_list_item sheet %}
&nbsp;</div>
{% endif %}
{% endblock %}
