{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load group_tags %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}Character Sheet{% endblocktrans %} - {{sheet.name}}{% endblock %}

{% block extra_head %}
<style>
#experience_entries td {
border: 1px solid black;
text-align: center;
margin: 2px;
padding: 2px;
};
</style>
{% endblock %}

{% block body %}
<div class="traitlist_header">
    <u><b>Experience</b></u>
    <a href="{% url sheet_new_experience_entry sheet.slug %}" rel="facebox"><img src="{{ STATIC_URL }}pinax/img/silk/icons/brick_add.png" /></a>
    <a href="{% url sheet_add_recent_expenditures sheet.slug %}" rel="facebox"><img src="{{ STATIC_URL }}pinax/img/silk/icons/calculator_add.png" /></a>
</div>
<p>{{ sheet.note }}</p>
{% experience_entries experience_entries %}
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        function itemResponseFunction() {
            var myHref= $(this).attr('href');
            jQuery.facebox(function() {
                jQuery.get(myHref, function(data) {
                    jQuery.facebox(data);
                });
            });
            return false;
        };
        function menuResponseFunction() {
            $('#grapevine_menu').load($(this).attr('href'), function(response, status, xhr) {
                if (status == "error") {
                    alert(xhr.status + " " + xhr.statusText);
                } else {
                    $('a[rel*=menu_link]').click(menuResponseFunction);
                    $('a[rel*=menu_item_link]').click(itemResponseFunction);
                }
            });
            return false;
        };
        $(document).bind('reveal.facebox', function() {
            $('a[rel*=menu_link]').click(menuResponseFunction);
            $('a[rel*=menu_item_link]').click(itemResponseFunction);
            $("form.uniForm").submit(function() {
                form = this;
                jQuery.facebox(function($) {
                    fields = jQuery(form).find("input[type='text']").filter(":enabled");
                    params = {}
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("select").filter(":enabled");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("textarea").filter(":enabled");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("input[type='hidden']");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    jQuery.post(form.getAttribute('action'), params,
                        function(data, textStatus) {
                            jQuery.facebox(data);
                        }
                    );
                });
                return false;
            });
        });
     });
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uitableedit.js"></script>
<script>
jQuery(document).ready(function($) {
    //$.uiTableEdit($("#experience_entries"));
});
</script>
{% endblock %}
