{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load group_tags %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}Character Sheet{% endblocktrans %} - {{sheet.name}}{% endblock %}

{% block body %}
<div id="recent_expenditures_pane">
</div>
<table width="" border="0" bgcolor="white">
<tbody>
<tr><td><a href="{% url sheet_vampire_edit_attributes sheet.slug %}">Edit Attributes</a></td></tr>
<tr>
<td width="240"><font color="black" size="2"><b>Name:</b>
{{ sheet.name }}</font></td>
<td width="235"><span class="top_info"><b>Player:</b>
{{ sheet.player.username }}</span></td>
<td width="200"><font color="black" size="2"><b>Clan:</b>
{{ sheet.vampiresheet.clan }}</font></td>
</tr>
<tr>
<td width="275" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Generation:</b>
{{ sheet.vampiresheet.generation }}<br>
<b>Blood:</b> {{ sheet.vampiresheet.blood }}<br>
<b>Will:</b> {{ sheet.vampiresheet.willpower }}<br>
<b>XP:</b> {{ sheet.experience_unspent }}
({{ sheet.experience_earned }})</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Nature:</b>
{{ sheet.vampiresheet.nature }}<br>
<b>Demeanor:</b> {{ sheet.vampiresheet.demeanor }}<br>
<b>Title:</b> {{ sheet.vampiresheet.title }}</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>{{ sheet.vampiresheet.path }}</b>
{{ sheet.vampiresheet.pathtraits }}<br>
<b>Conscience:</b> {{ sheet.vampiresheet.conscience }}<br>
<b>Self-control:</b> {{ sheet.vampiresheet.selfcontrol }}<br>
<b>Courage:</b> {{ sheet.vampiresheet.courage }}</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="3" width="675">
<hr></td>
</tr>
<tr>
<td width="275" valign="top">
<table>
<tr><td>
{% trait_category "Physical" %}
</td></tr>
<tr><td>
{% trait_category "Negative Physical" "-" %}
</td></tr>
</table>
</td>
<td width="200" valign="top">
<table>
<tr><td>
{% trait_category "Social" %}
</td></tr>
<tr><td>
{% trait_category "Negative Social" "-" %}
</td></tr>
</table>
</td>
<td width="200" valign="top">
<table>
<tr><td>
{% trait_category "Mental" %}
</td></tr>
<tr><td>
{% trait_category "Negative Mental" "-" %}
</td></tr>
</table>
</td>
</tr>
<tr>
<td width="275" valign="top">
{% trait_category "Abilities" %}
</td>
<td width="200" valign="top">
{% trait_category "Backgrounds" %}
</td>
<td width="200" valign="top">
{% trait_category "Influences" %}
</td>
</tr>
<tr>
<td width="275" valign="top">
{% trait_category "Disciplines" %}
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category "Merits" %}
</td>
</tr>
<tr>
<td>
{% trait_category "Flaws" %}
</td>
</tr>
<tr>
<td>
{% trait_category "Derangements" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
{% trait_category "Status" %}
</td>
</tr>
<tr>
<td width="275" valign="top">
{% trait_category "Rituals" %}
</td>
<td width="200" valign="top">
{% trait_category "Miscellaneous" %}
</td>
<td width="200" valign="top">
{% trait_category "Bonds" %}
</td>
</tr>
<tr>
<td width="275" valign="top">
{% trait_category "Equipment" %}
</td>
<td width="200" valign="top">
{% trait_category "Locations" %}
</td>
<td width="200" valign="top">
{% trait_category "Health Levels" %}
</td>
</tr>
</tbody>
</table>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $("#recent_expenditures_pane").load("{% url sheet_show_recent_expenditures sheet.slug %}")
        function itemResponseFunction() {
            var myHref= $(this).attr('href');
            jQuery.facebox(function() {
                jQuery.get(myHref, function(data) {
                    jQuery.facebox(data);
                });
            });
            return false;
        };
        function menuResponseFunction() {
            $('#grapevine_menu').load($(this).attr('href'), function(response, status, xhr) {
                if (status == "error") {
                    alert(xhr.status + " " + xhr.statusText);
                } else {
                    $('a[rel*=menu_link]').click(menuResponseFunction);
                    $('a[rel*=menu_item_link]').click(itemResponseFunction);
                }
            });
            return false;
        };
        $(document).bind('reveal.facebox', function() {
            $('a[rel*=menu_link]').click(menuResponseFunction);
            $('a[rel*=menu_item_link]').click(itemResponseFunction);
            $("form.uniForm").submit(function() {
                form = this;
                jQuery.facebox(function($) {
                    fields = jQuery(form).find("input[type='text']").filter(":enabled");
                    params = {}
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("select").filter(":enabled");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("textarea").filter(":enabled");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    fields = jQuery(form).find("input[type='hidden']");
                    fields.each(function() {
                        params[this.name] = this.value;
                    });
                    jQuery.post(form.getAttribute('action'), params,
                        function(data, textStatus) {
                            jQuery.facebox(data);
                        }
                    );
                });
                return false;
            });
        });
     });
</script>
{% endblock %}
