<script type="text/javascript">
    jQuery(document).trigger('close.facebox');
    {% for entry_id in entry_ids %}
    $("#experience_entry_{{entry_id}}").load("{% url sheet_reload_experience_entry sheet.slug entry_id %}", function() {
        $('#experience_entry_{{entry_id}}').find('a[rel*=facebox]').facebox({
            loadingImage: '{{ STATIC_URL }}pinax/img/facebox/loading.gif',
            closeImage: '{{ STATIC_URL }}pinax/img/facebox/closelabel.gif'
        });
    });
    {% endfor %}
</script>
