{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}Upload Character Sheet{% endblocktrans %}{% endblock %}

{% block body %}
    {{ sheet.name }}<br/>
    {{ sheet.player.username }}<br/>
<table width="" border="0" bgcolor="white">
<tbody>
<tr>
<td colspan="3" width="675">
<center>
<h3><font color="black" size="2">One World By Night</font></h3>
</center>
</td>
</tr>
<tr><td><a href="{% url sheet_vampire_edit_attributes sheet.id %}" rel="facebox">Edit Attributes</a></td></tr>
<tr>
<td width="240"><font color="black" size="2"><b>Name:</b>
{{ sheet.name }}</font></td>
<td width="235"><span class="top_info"><b>Player:</b>
{{ sheet.player.username }}</span></td>
<td width="200"><font color="black" size="2"><b>Clan:</b>
{{ sheet.vampiresheet.clan }}</font></td>
</tr>
<tr>
<td width="275" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Generation:</b>
{{ sheet.vampiresheet.generation }}<br>
<b>Blood:</b> {{ sheet.vampiresheet.blood }}<br>
<b>Will:</b> {{ sheet.vampiresheet.willpower }}<br>
<b>XP:</b> {{ sheet.experience_unspent }}
({{ sheet.experience_earned }})</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Nature:</b>
{{ sheet.vampiresheet.nature }}<br>
<b>Demeanor:</b> {{ sheet.vampiresheet.demeanor }}<br>
<b>Title:</b> {{ sheet.vampiresheet.title }}</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>{{ sheet.vampiresheet.path }}</b>
{{ sheet.vampiresheet.pathtraits }}<br>
<b>Conscience:</b> {{ sheet.vampiresheet.conscience }}<br>
<b>Self-control:</b> {{ sheet.vampiresheet.selfcontrol }}<br>
<b>Courage:</b> {{ sheet.vampiresheet.courage }}</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="3" width="675">
<hr></td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Physical" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Physical" %}
{% show_traitlist "Negative Physical" "-" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Social" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Social" %}
{% show_traitlist "Negative Social" "-" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Mental" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Mental" %}
{% show_traitlist "Negative Mental" "-" %}
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td width="35%">
{% trait_category_header "Abilities" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Abilities" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Backgrounds" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Backgrounds" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Influences" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Influences" %}
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Disciplines" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Disciplines" %}
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size="2"><u><b>Other</b></u></font></td>
</tr>
<tr>
<td>
<i><u>Merits</u></i><br>
{% show_traitlist "Merits" %}
<i><u>Flaws</u></i><br>
{% show_traitlist "Flaws" %}
<i><u>Derangements</u></i><br>
{% show_traitlist "Derangements" %}
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% trait_category_header "Status" %}
</td>
</tr>
<tr>
<td>
{% show_traitlist "Status" %}
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table border="0">
{% for entry in experience_entries %}
<tr><td>{{entry.change}}</td><td>{{entry.get_change_type_display}}</td><td>{{entry.date}}</td><td>{{entry.reason}}</td></tr>
{% endfor %}
</table>
<p>{{ sheet.note }}</p>
{% endblock %}
