{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}List Character Sheets{% endblocktrans %}{% endblock %}

{% block body %}
    <table>
    {% for sheet in sheets %}
        {% sheet_list_item sheet %}
    {% endfor %}
    </table>

    {% if chronicle_sheets %}
        {% for chronicle, sheet_maps in chronicle_sheets.items %}
            <h2>{{chronicle}}</h2>
            <h3>PCs</h3>
            <table>
            {% for sheet in sheet_maps.pc %}
                {% sheet_list_item sheet %}
            {% endfor %}
            </table>
            <h3>NPCs</h3>
            <table>
            {% for sheet in sheet_maps.npc %}
                {% sheet_list_item sheet %}
            {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
