{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}Upload Character Sheet{% endblocktrans %}{% endblock %}

{% block body %}
    {{ sheet.name }}<br/>
    {{ sheet.player.username }}<br/>
<table width="" border="0" bgcolor="white">
<tbody>
<tr>
<td colspan="3" width="675">
<center>
<h3><font color="black" size="2">One World By Night</font></h3>
</center>
</td>
</tr>
<tr>
<td width="240"><font color="black" size="2"><b>Name:</b>
{{ sheet.name }}</font></td>
<td width="235"><span class="top_info"><b>Player:</b>
{{ sheet.player.username }}</span></td>
<td width="200"><font color="black" size="2"><b>Clan:</b>
{{ sheet.vampiresheet.clan }}</font></td>
</tr>
<tr>
<td width="275" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Generation:</b>
{{ sheet.vampiresheet.generation }}<br>
<b>Blood:</b> {{ sheet.vampiresheet.blood }}<br>
<b>Will:</b> {{ sheet.vampiresheet.willpower }}<br>
<b>XP:</b> <%= @character.unspent_experience %>
(<%= @character.earned_experience %>)</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>Nature:</b>
{{ sheet.vampiresheet.nature }}<br>
<b>Demeanor:</b> {{ sheet.vampiresheet.demeanor }}<br>
<b>Title:</b> {{ sheet.vampiresheet.title }}</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table>
<tbody>
<tr>
<td><font color="black" size="1"><b>{{ sheet.vampiresheet.path }}</b>
{{ sheet.vampiresheet.pathtraits }}<br>
<b>Conscience:</b> {{ sheet.vampiresheet.conscience }}<br>
<b>Self-control:</b> {{ sheet.vampiresheet.selfcontrol }}<br>
<b>Courage:</b> {{ sheet.vampiresheet.courage }}</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td colspan="3" width="675">
<hr></td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% with sheet|get_traitlist:"Physical" as traits %}
<font color="black" size="2">
<u><b>Physical Traits</b></u>
({{traits|length}})</font></td>
</tr>
<tr>
<td><font color="black" size="1">
<table>
{% for trait in traits %}
<tr><td>{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
<table>
{% with sheet|get_traitlist:"Negative Physical" as traits %}
{% for trait in traits %}
<tr><td>-{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
{% with sheet|get_traitlist:"Social" as traits %}
<font color="black" size="2">
<u><b>Social Traits</b></u>
({{traits|length}})</font></td>
</tr>
<tr>
<td><font color="black" size="1">
<table>
{% for trait in traits %}
<tr><td>{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
<table>
{% with sheet|get_traitlist:"Negative Social" as traits %}
{% for trait in traits %}
<tr><td>-{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td>
<font color="black" size="2">
{% with sheet|get_traitlist:"Mental" as traits %}
<u><b>Mental Traits</b></u>
({{traits|length}})</font></td>
</tr>
<tr>
<td><font color="black" size="1">
<table>
{% for trait in traits %}
<tr><td>{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
<table>
{% with sheet|get_traitlist:"Negative Mental" as traits %}
{% for trait in traits %}
<tr><td>-{{ trait }}</td></tr>
{% endfor %}
{% endwith %}
</table>
</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td width="35%"><font color="black" size="2">
{% with sheet|get_traitlist:"Abilities" as traits %}
<u><b>Abilities</b></u>
({{traits|length}})</font></td>
</tr>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
{% for trait in traits %}
<tr><td><font color="black" size="1">{{trait}}</font></tr></td>
{% endfor %}
{% endwith %}
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size="2">
<u><b>Backgrounds</b></u></font></td>
</tr>
<tr>
<td><font color="black" size="1">
{% with sheet|get_traitlist:"Backgrounds" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size=
"2"><u><b>Influences</b></u></font></td>
</tr>
<tr>
<td><font color="black" size="1">
{% with sheet|get_traitlist:"Influences" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td width="275" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size=
"2"><u><b>Disciplines</b></u></font></td>
</tr>
<tr>
<td><font color="black" size="1">
{% with sheet|get_traitlist:"Disciplines" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
</font></td>
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size="2"><u><b>Other</b></u></font></td>
</tr>
<tr>
<td><font color="black" size=
"1"><i><u>Merits</u></i><br>
{% with sheet|get_traitlist:"Merits" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
<i><u>Flaws</u></i><br>
{% with sheet|get_traitlist:"Flaws" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
<i><u>Derangements</u></i><br>
{% with sheet|get_traitlist:"Derangements" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
</tr>
</tbody>
</table>
</td>
<td width="200" valign="top">
<table valign="top" align="left">
<tbody>
<tr>
<td><font color="black" size="2">
<u><b>Status</b></u></font></td>
</tr>
<tr>
<td><font color="black" size="1">
{% with sheet|get_traitlist:"Status" as traits %}
{% include "characters/_trait_category.html" %}
{% endwith %}
</font></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>{{ sheet.note }}</p>
{% endblock %}
