{% extends "characters/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load characters_extras %}

{% block head_title %}{% blocktrans %}List Character Sheets{% endblocktrans %}{% endblock %}

{% block extra_head %}
<style>
#sheets_list th {
border: none;
border-bottom: 2px dotted black;
}

#sheets_list td {
border: none;
border-bottom: 1px dashed black;
}

#sheets_list td.sheets_list_40 {
text-align:left;
width:40%;
}

#sheets_list td.sheets_list_20 {
text-align:center;
width:40%;
}

#sheets_list td.sheets_list_10 {
text-align:center;
width:40%;
}

</style>
{% endblock %}

{% block body %}
    <table id="sheets_list" border="2" cellpadding="2" cellspacing="10" width="100%">
        <tr>
            <th>Name</th>
            <th>Clan</th>
            <th>Sect</th>
            <th>NPC?</th>
            <th>Play Status</th>
        </tr>
    {% for sheet in sheets %}
        <tr bgcolor="{% cycle 'aliceblue' 'white' %}">
            <td class="sheets_list_40" width="40%" align="left"><a href="{% url sheet_list sheet.slug %}">{{sheet.name}}</a></td>
            <td class="sheets_list_20" width="20%" align="center">{{sheet.vampiresheet.clan}}</td>
            <td class="sheets_list_20" width="20%" align="center">{{sheet.vampiresheet.sect}}</td>
            <td class="sheets_list_10" width="10%" align="center">{{sheet.npc}}</td>
            <td class="sheets_list_10" width="10%" align="center">{{sheet.status}}</td>
        </tr>
    {% endfor %}
    </table>

    {% if chronicle_sheets %}
        {% for chronicle, sheet_maps in chronicle_sheets.items %}
            <h2>{{chronicle.name}}</h2>
            <a href="{% url sheet_join_chronicle chronicle.slug %}" rel="facebox"><img src="{{ STATIC_URL }}pinax/img/silk/icons/add.png" /></a>
            <a href="{% url sheet_make_home_chronicle chronicle.slug %}"><img src="{{ STATIC_URL }}pinax/img/silk/icons/anchor.png" /></a>
            <h3>PCs</h3>
            <table>
            {% for sheet in sheet_maps.pc %}
                {% sheet_list_item sheet %}
            {% endfor %}
            </table>
            <h3>NPCs</h3>
            <table>
            {% for sheet in sheet_maps.npc %}
                {% sheet_list_item sheet %}
            {% endfor %}
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}
