{% load i18n %}
{% load uni_form_tags %}
{% load group_tags %}
{% load characters_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% blocktrans %}Character Sheet{% endblocktrans %} - {{sheet.name}}</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/print_sheet.css"/>
    </head>
    <body>

{% block body %}
<div id="recent_expenditures_pane">
</div>
<table width="" border="0" bgcolor="white"  style="width:6.5in; max-width:6.5in;">
<tbody>
<tr>
    <td colspan="3">
        <span class="sheet_name"><b>{{ sheet.name }}</b></span>
    </td>
</tr>
<tr>
    <td>
        <b>Vampire
        {% if sheet.npc %}
            NPC
        {% endif %}
        </b>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Player:</b></span>
        <span class="sheet_attribute_value">{{ sheet.player.username }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Experience Unspent:</b></span>
        <span class="sheet_attribute_value">{{ sheet.experience_unspent }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Date Printed:</b></span>
        <span class="sheet_attribute_value">{% now "m/d/Y" %}</span>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Character ID:</b></span>
        <span class="sheet_attribute_value">{{ sheet.pk }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Total Experience Earned:</b></span>
        <span class="sheet_attribute_value">{{ sheet.experience_earned }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Last Modified:</b></span>
        <span class="sheet_attribute_value">{{ sheet.last_saved|date:"m/d/Y" }}</span>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Status:</b></span>
        <span class="sheet_attribute_value">{{ sheet.status }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Narrator:</b></span>
        <span class="sheet_attribute_value">{{ sheet.narrator }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Starting Date:</b></span>
        <span class="sheet_attribute_value">{{ sheet.start_date|date:"m/d/Y" }}</span>
    </td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Clan:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.clan }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Generation:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.generation }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Nature:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.nature }}</span>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Sect:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.sect }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Title:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.title }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Demeanor:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.demeanor }}</span>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Coterie:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.coterie }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Sire:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.sire }}</span>
    </td>
    <td width="33%"></td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Blood:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.blood }} {{ sheet.vampiresheet.blood|tally }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Morality Path:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.path }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Aura:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.aura }}</span>
    </td>
</tr>
<tr>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Willpower:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.blood }} {{ sheet.vampiresheet.blood|tally }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Morality Traits:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.pathtraits }} {{ sheet.vampiresheet.pathtraits|tally }}</span>
    </td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Self-control/Instinct:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.selfcontrol }} {{ sheet.vampiresheet.selfcontrol|tally }}</span>
    </td>
</tr>
<tr>
    <td width="33%"></td>
    <td width="33%"></td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Conscience/Convinction:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.conscience }} {{ sheet.vampiresheet.conscience|tally }}</span>
    </td>
</tr>
<tr>
    <td width="33%"></td>
    <td width="33%"></td>
    <td width="33%">
        <span class="sheet_atttribute_label"><b>Courage:</b></span>
        <span class="sheet_attribute_value">{{ sheet.vampiresheet.courage }} {{ sheet.vampiresheet.courage|tally }}</span>
    </td>
</tr>
<tr><td colspan="3">&nbsp;</td></tr>
<tr>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Physical" %}
</td></tr>
</table>
</td>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Social" %}
</td></tr>
</table>
</td>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Mental" %}
</td></tr>
</table>
</td>
</tr>
<tr>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Negative Physical" "-" %}
</td></tr>
</table>
</td>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Negative Social" "-" %}
</td></tr>
</table>
</td>
<td width="33%" valign="top">
<table width="100%">
<tr><td>
{% trait_category "Negative Mental" "-" %}
</td></tr>
</table>
</td>
</tr>
<tr>
    <td colspan="3">
        <table width="100%">
            <td width="50%" valign="top">
                {% trait_category "Abilities" %}
            </td>
            <td width="50%" valign="top">
                {% trait_category "Disciplines" %}
            </td>
        </table>
    </td>
</tr>
<tr>
    <td colspan="3">
        <table width="100%">
            <td width="50%" valign="top">
                {% trait_category "Status" %}
            </td>
            <td width="50%" valign="top">
                {% trait_category "Rituals" %}
            </td>
        </table>
    </td>
</tr>
<tr>
<td width="33%" valign="top">
{% trait_category "Backgrounds" %}
</td>
<td width="33%" valign="top">
{% trait_category "Influences" %}
</td>
<td width="33%" valign="top">
{% trait_category "Miscellaneous" %}
</td>
</tr>
<tr>
<td width="33%" valign="top">
{% trait_category "Derangements" %}
</td>
<td width="33%" valign="top">
{% trait_category "Bonds" %}
</td>
<td width="33%" valign="top">
<!-- trait_category "Boons" -->
</td>
</tr>
<tr>
    <td colspan="3">
        <table width="100%">
            <td width="50%" valign="top">
                {% trait_category "Merits" %}
            </td>
            <td width="50%" valign="top">
                {% trait_category "Flaws" %}
            </td>
        </table>
    </td>
</tr>
<tr>
    <td colspan="3">
        <table width="100%">
            <td width="50%" valign="top">
                {% trait_category "Equipment" %}
            </td>
            <td width="50%" valign="top">
                {% trait_category "Health Levels" %}
            </td>
        </table>
    </td>
</tr>
<tr>
    <td colspan="3">
        <span class="traitlist_header"><u><b>Notes:</b></u><br/></span>
        <div class="traitlist">
            {{ sheet.notes|linebreaks }}
        </div>
    </td>
</tr>
</tbody>
</table>
{% endblock %}
</body>
</html>