{% if reason %}
<form method="POST" action="{{post_url}}">
{% csrf_token %}
    <fieldset class="inlineLabels">
        <p>{{ reason }}</p>
        {{ form.as_hidden }}
        <input type="hidden" name="reason" value="{{ form.instance.reason }}" id="id_reason" /> 
        <input type="hidden" name="change" value="{{ form.instance.change }}" id="id_change" /> 
        <input type="hidden" name="change_type" value="{{ form.instance.change_type }}" id="id_change_type" /> 
        <input type="hidden" name="date" value="{{ form.instance.date|date:"Y-m-d H:m:s" }}" id="id_date" /> 
        <input type="hidden" name="action" value="Recent Expenditures" />
        <input type="submit" value="Add Recent to Experience History" />
    </fieldset>
</form>
{% endif %}
